
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}


<h2>Welcome, {{ profile.user.username }} ({{ profile.house }})</h2>
<a href="{% url 'profile' profile.user.username %}">Profile</a>

<p>Wins: {{ profile.wins }} | Losses: {{ profile.losses }} | House Points: {{ profile.house_points }}</p>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
<h3>Search Users</h3>
<input type="text" id="searchBox" placeholder="Search by username">
<ul id="searchResults"></ul>

    <a href="{% url 'start_duel' %}" class="btn btn-primary mt-3">Start Random Duel</a>
    <a href="{% url 'my_duels' %}" class="btn btn-info mt-3">My Active Duels</a>



{% endblock %}